old_data/
images/
data/
project_notebook_backup_25-11-2023.ipynb
.ipynb_checkpoints/project_notebook_backup_25-11-2023-checkpoint.ipynb
.ipynb_checkpoints/project_notebook-checkpoint.ipynb
.ipynb_checkpoints/gitignore-checkpoint
